language: python
# https://docs.travis-ci.com/user/languages/python/
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev"
#  - "3.5.0b2"
#  - "3.5.0b3"
  - "3.6"
  - "3.6-dev"
  - "3.7"
  - "3.7-dev"
  - "3.8"
  - "3.8-dev"
  - "nightly"
  - "pypy-5.3.1"
  - "pypy-5.4.1"
#  - "pypy3" - see https://github.com/SylvainDe/DidYouMean-Python/issues/30

matrix:
  allow_failures:
  - python: "3.7"
  - python: "3.8"
  - python: "3.8-dev"

install:
  # From https://github.com/frol/flask-restplus-server-example/blob/master/.travis.yml
  # Travis has pypy 2.5.0, which is way too old, so we upgrade it on the fly:
  - |
      if ([ "$TRAVIS_PYTHON_VERSION" = "pypy-5.3.1" ] ||
          [ "$TRAVIS_PYTHON_VERSION" = "pypy-5.4.1" ]); then
        export PYENV_ROOT="$HOME/.pyenv"
        if [ -f "$PYENV_ROOT/bin/pyenv" ]; then
          pushd "$PYENV_ROOT" && git pull && popd
        else
          rm -rf "$PYENV_ROOT" && git clone --depth 1 https://github.com/yyuu/pyenv.git "$PYENV_ROOT"
        fi
        case "$TRAVIS_PYTHON_VERSION" in
            "pypy-5.3.1") export PYPY_VERSION="5.3.1";;
            "pypy-5.4.1") export PYPY_VERSION="5.4.1";;
        esac
        "$PYENV_ROOT/bin/pyenv" install --skip-existing "pypy-$PYPY_VERSION"
        virtualenv --python="$PYENV_ROOT/versions/pypy-$PYPY_VERSION/bin/python" "$HOME/virtualenvs/pypy-$PYPY_VERSION"
        source "$HOME/virtualenvs/pypy-$PYPY_VERSION/bin/activate"
      fi
  - pip install --upgrade pep8
  - pip install pep257
  - |
      if ([ "$TRAVIS_PYTHON_VERSION" != "2.6" ]); then
        pip install --upgrade pyflakes
      fi
  - pip install unittest2
  - pip install coverage==3.7.1 # https://bitbucket.org/ned/coveragepy/issues/407/coverage-failing-on-python-325-using
  - |
      case "$TRAVIS_PYTHON_VERSION" in
          "2.6") ;; # coveralls not supported
          "pypy-5.3.1") ;; # coveralls not supported
          *) pip install coveralls;;
      esac
  - pip install codecov

before_script:
 # Information about Python version
 - python -VV
 - python -c "import sys; print(sys._git)" || true
 - pep8 *.py */*.py
 - pep257 *.py */*.py
 - pyflakes . || true

script:
 - coverage run -m unittest2 discover --start-directory=didyoumean --pattern=*.py
 - python didyoumean/readme_examples.py
 - pip install .

after_success:
 - coveralls
 - codecov
 # Information about Python builtins/keywords
 # - python -c "import sys; import keyword; print({sys.version_info: {'kword': set(keyword.kwlist), 'builtins': set(dir(__builtins__))}})" || true
